<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.chongjing.org/schema/gateway"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.chongjing.org/schema/gateway http://www.chongjing.org/schema/gateway.xsd">

    <gateway id="myGateway" service-interface="hello.IService"/>

</beans:beans>